<div class="top">
  <h1 class="cover-heading">Question<wbr> and <wbr> Answers<wbr> Joiner</h1>
  <p class="lead">質問者は<wbr>下のボタンから<wbr>開始します</p>
  <p class="lead">
    <a href="/q/login" class="btn btn-lg btn-default">Start</a>
  </p>
</div>
