<div class="top">
  <h1 class="cover-heading">Question<wbr> and <wbr> Answers<wbr> Joiner</h1>
  <p class="lead">質問者は<wbr>下のボタンから<wbr>開始します</p>
  <ul class="lead" class="intro">
    <li class="text-left" style="list-style:none;">① アカウント作成</li>
    <li class="text-left" style="list-style:none;">② <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> から回答者を招待</li>
    <li class="text-left" style="list-style:none;">③ 質問を公開</li>
    <li class="text-left" style="list-style:none;">④ 回答を公開</li>
  </ul>
  <p class="lead">
    <a href="/q/login" class="btn btn-lg btn-default">Start</a>
  </p>
</div>
