<div class="a">
  <h3>Welcome <%= @a_user.name %> !</h3>

  <p class="q_name text-left">Q: <%= @q_user.name %> ></p>
  <div id="q_current" class="question text-left"></div>
  <hr>

  <p class="a_name text-right">< A: <%= @a_user.name %></p>
  <div id="a_current" class="answer text-left"></div>

  <form name="addform">
    <input type="hidden" name="a_user_id" value="<%= @a_user.id %>">
    <input type="hidden" id="q_id" name="q_id" value="">
    <textarea name="content" placeholder="空白では送信できません。" rows="3" class="form-control answer_text" id="InputTextarea"></textarea>
    <button type="button" name="submit" class="btn btn-primary" onclick="ajaxPostA()">送信</button>
    <span id="add_status"></span>
  </form>
  <p>※続けて送信すると回答が更新されます
  <hr>
  <h4><span class="glyphicon glyphicon-ok-circle text-info"></span> 他の回答 <span class="glyphicon glyphicon-remove-circle text-danger"></span></h4>
  <div id="ans_list" class="row"></div>
</div>

