/* -----COMMON----- */


/* -----header----- */

/* ----container---- */

/* ----footer---- */

/* q/login */
.q_login .glyphicon.glyphicon-log-in {
  font-size: 15rem;
  margin-bottom: 5%;
}
.a_login .glyphicon.glyphicon-log-in {
  font-size: 15rem;
  margin-bottom: 5%;
}
