<div class="q">
  <h3>
      Welcome <%= @name %> !  <a target="qr" href="/q/qr/<%= @q_hash %>">
          <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
  </h3>

  <div class="text-right">
      <a href="#">
          <span class="glyphicon glyphicon-refresh" onclick="refresh()"></span>
      </a>
  </div>

  <h4>公開中の質問</h4>
  <!-- TODO: public trueを表示する -->
  <p id="q_current" class="q_current">※質問リストから選択してください。<p>
  <hr>
  <h4>回答リスト</h4>
  <p>色を選択して全員に公開</p>
  <!-- Example row of columns -->
  <div id="ans_list" class="row">※まだ回答はありません</div>
  <hr>
  <h4>質問リスト</h4>
  <div id="q_list"></div>
  <form name="addform">
    <input type="hidden" name="q_user_id" value="<%= @q_user_id %>">
    <textarea id="q_text_area" name="content" placeholder="※改行は使えません" rows="3" class="form-control" id="InputTextarea"></textarea>
    <button id="add_q" type="button" name="submit" class="btn btn-primary" onclick="ajaxPostQ()">追加</button>
    <span id="add_status"></span>
  </form>
</div>
